<h3>Email</h3>
<span class="glyphicon glyphicon-envelope"></span>
<a id="email" href="mailto:ashortsleeves@gmail.com">ashortsleeves@gmail.com</a>
<h3>Phone</h3>
<span class="glyphicon glyphicon-earphone"></span>
<a>(508) 974-3434</a>
<h3>GitHub</h3>
<span class="glyphicon glyphicon-console"></span>
<a href="https://github.com/ashortsleeves">ashortsleeves</a>
<br>
<h4><span class="glyphicon glyphicon-arrow-left"></span> <%= link_to 'Back', posts_path %></h4>