// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#blog-img {
	height: 300px; 
	width: 100%; 
	overflow: hidden; 
	margin-bottom: 20px;
}

.img-responsive {
	position: absolute; 
	bottom: 0;
}